$colour-dark: rgb(51, 51, 51);
$colour-light: rgb(252, 252, 252);


.sub-text {
  font-size: small;
}
.sum-text {
  font-size: medium;
}
.postTitle {
  font-size: large;
}
.badge:hover {
  background-color: #00FF7F;
}
.btn-block {
  font-size: small;
}