.domain-row {
  margin-bottom: 10px;
  min-height: 100px;
  margin-bottom: 10px;
  // border: solid green;
}
.domain {
  // border: solid black;
  overflow-wrap:break-word;
}
.domain-icon {
  height: 40px;
  width: 40px;
}
$colour-dark: rgb(51, 51, 51);
$colour-light: rgb(252, 252, 252);

body{
  line-height: 0.5;
}
.light .p-0 {
  color: $colour-dark;
}
.dark .p-0 {
  color: $colour-light;
}
.dark a {
  color: rgb(135,206,250);
}
.dark {
  background-color: $colour-dark ;
}
.dark .page-link {
  color: $colour-light;
}
.dark .page-item.active .page-link{
  background-color: $colour-light;
  border-color: rgb(41, 41, 41);
  color: $colour-dark;
}
.dark .page-link {
  color: $colour-dark;
}
.dark .page-item .page-link{
  background-color: $colour-dark;
  border-color: rgb(41, 41, 41);
  color: $colour-light;
}
.light {
  background-color: $colour-light;
}
.light .page-link {
  color: $colour-dark;
}
.light .page-item.active .page-link{
  background-color: $colour-dark;
  border-color: $colour-dark;
  color: $colour-light;
}
.light .logo {
  fill: $colour-dark;
}
.dark .logo {
  fill: $colour-light;
}
.domainTitle {
  font-size: large;
}
.sub-text {
  font-size: small;
}
.sum-text {
  font-size: medium;
}

