@import "../styles/dark";
@import "../styles/light";
@import "../styles/main";

$colour-dark: rgb(51, 51, 51);
$colour-light: rgb(252, 252, 252);

body{
  line-height: 0.5;
}
.domain-row {
  margin-bottom: 10px;
  min-height: 100px;
  margin-bottom: 10px;
  // border: solid green;
}
.domain {
  // border: solid black;
  overflow-wrap:break-word;
}
.domain-icon {
  height: 40px;
  width: 40px;
}
.domainTitle {
  font-size: large;
}

