<div [ngClass]="globals.isDark ? 'dark' : 'light'">
    <div [ngClass]="globals.isFluid ? 'container-fluid' : 'container'">
        <app-nav></app-nav>
    </div>

    <div style="height: 20px"></div>

    <div [ngClass]="globals.isFluid ? 'container-fluid' : 'container'">
        <div class="row domain-row" *ngFor="let domain of domains">
            <div class="col domain">
                <div class="float-right">
                    <img src={{domain?.Icon}} class="img-fluid domain-icon">
                </div>
                <div class="domainTitle">
                    <div [ngStyle]="{'color': domain.Colour}" class="d-inline">{{domain.Title}}</div>
                    <a routerLink="/d/{{domain.Name}}">
                        /{{ domain.Name }}
                    </a>
                </div>
                <div class="p-0 sum-text">
                    () -> {{domain.Description}}
                </div>
                <div class="p-0 sub-text">
                    Topic -> {{domain.Topic}}
                </div>
                <div class="p-0 sub-text">
                    Content -> {{domain.Content}}
                </div>
                <div class="p-0 sub-text">
                    Subs -> {{domain.Subscribers}}
                </div>
            </div>
        </div>
    </div>
</div>
