
<div class="container">
  <div class="row">
    <form [formGroup]="addForm" (ngSubmit)="submitForm()" class="form-group">
      <fieldset class="form-group">
        <input
          formControlName="postTitle"
          placeholder="Title"
          class="form-control"
          type="text"
          required
          #spy/>
      </fieldset>

      <p>{{ spy.className }}</p>

      <fieldset class="form-group">
        <input
          formControlName="postBody"
          placeholder="Body"
          class="form-control"
          required
          type="text"/>
      </fieldset>

      <fieldset class="form-group">
        <input
          formControlName="Visible"
          placeholder="Visible?"
          class="form-control"
          type="checkbox"/>
      </fieldset>

      <fieldset class="form-group">
        <input
          formControlName="Domain"
          placeholder="Domain"
          class="form-control"
          required
          type="text"/>
      </fieldset>

      <button class="btn">
        Submit
      </button>

    </form>

    {{ addForm.status }}

  </div>
</div>
