@import "../styles/dark";
@import "../styles/light";
@import "../styles/main";

$colour-dark: rgb(51, 51, 51);
$colour-light: rgb(252, 252, 252);

.ng-valid:not(form) {
  border-left: 5px solid #42A948; /* green */
}
.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}
body{
  line-height: 0.5;
}
.tag {
  width: 100%;
}