<div [ngClass]="globals.isDark ? 'dark' : 'light'">
    <div [ngClass]="globals.isFluid ? 'container-fluid' : 'container'">
        <app-nav></app-nav>

        <div style="height: 20px"></div>

        <div class="row">
            <div class="col">
                <div class="btn-group" role="group" aria-label="Select type">
                    <button type="button" class="btn" (click)="setFormState('post')">Post</button>
                    <button type="button" class="btn" (click)="setFormState('image')">Image</button>
                    <button type="button" class="btn" (click)="setFormState('link')">Link</button>
                </div>
            </div>
        </div>

        <div style="height: 20px"></div>

        <div class="row">
            <div class="col-12">

                <!-- <==========================================================================================> -->

                <form [formGroup]="addPostForm" (ngSubmit)="submitPostForm()" class="form-group"
                      *ngIf="!(formState!='post')">
                    <div class="form-group">
                        <input
                                id="postTitle"
                                formControlName="postTitle"
                                placeholder="Title"
                                class="form-control">
                        <div class="sub-text">
                            Min-length: 5 // Max-length: 140
                        </div>
                    </div>

                    <div class="form-group">
                        <textarea
                                formControlName="postBody"
                                placeholder="Body"
                                class="form-control"
                                rows="10">
                        </textarea>
                    </div>

                    <div class="form-group form-check">
                        <input
                                formControlName="Visible"
                                class="form-check-input"
                                type="checkbox"
                                checked>
                        <div class="p-0">
                            Visible?
                        </div>
                    </div>

                    <div class="form-group form-check">

                        <input
                                formControlName="isNSFW"
                                class="form-check-input"
                                type="checkbox"
                                checked>
                        <div class="p-0">
                            NSFW?
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="tag">
                            <tag-input [editable]='true' [maxItems]='5' theme='minimal'
                                       formControlName="Tags"></tag-input>
                        </div>
                    </div>

                    <div class="form-group" style="margin-bottom: 10px;">
                        <select multiple class="form-control" formControlName="Domain">
                            <option *ngFor="let domain of domains" value="{{domain?.Name}}">
                                /{{domain?.Name}}
                            </option>
                        </select>
                    </div>


                    <button class="btn" [disabled]="!addPostForm.valid">
                        Submit
                    </button>

                </form>

                <!-- <==========================================================================================> -->

                <form [formGroup]="addImageForm" (ngSubmit)="submitImageForm()" class="form-group"
                      *ngIf="!(formState!='image')">
                    <div class="form-group">
                        <input
                                formControlName="postTitle"
                                placeholder="Title"
                                class="form-control"
                                type="text">
                    </div>

                    <div class="form-group form-check">
                        <input
                                formControlName="Visible"
                                class="form-check-input"
                                type="checkbox"
                                checked>
                        <div class="p-0">
                            Visible?
                        </div>
                    </div>

                    <div class="form-group form-check">

                        <input
                                formControlName="isNSFW"
                                class="form-check-input"
                                type="checkbox"
                                checked>
                        <div class="p-0">
                            NSFW?
                        </div>
                    </div>

                    <div class="form-group">
                        <tag-input [editable]='true' [maxItems]='5' theme='bootstrap'
                                   formControlName="Tags"></tag-input>
                    </div>

                    <div class="form-group" style="margin-bottom: 10px;">

                        <select multiple class="form-control" formControlName="Domain">
                            <option *ngFor="let domain of domains" value="{{domain?.Name}}">
                                /{{domain?.Name}}
                            </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <input
                                formControlName="url"
                                placeholder="url"
                                class="form-control"
                                type="text">
                    </div>

                    <button class="btn" [disabled]="!addImageForm.valid">
                        Submit
                    </button>

                </form>

                <!-- <==========================================================================================> -->

                <form [formGroup]="addLinkForm" (ngSubmit)="submitLinkForm()" class="form-group"
                      *ngIf="!(formState!='link')">
                    <div class="form-group">
                        <input
                                formControlName="postTitle"
                                placeholder="Title"
                                class="form-control"
                                type="text">
                    </div>

                    <div class="form-group form-check">
                        <input
                                formControlName="Visible"
                                class="form-check-input"
                                type="checkbox"
                                checked>
                        <div class="p-0">
                            Visible?
                        </div>
                    </div>

                    <div class="form-group" style="margin-bottom: 10px;">
                        <select multiple class="form-control" formControlName="Domain">
                            <option *ngFor="let domain of domains" value="{{domain?.Name}}">
                                /{{domain?.Name}}
                            </option>
                        </select>
                    </div>

                    <div class="form-group form-check">

                        <input
                                formControlName="isNSFW"
                                class="form-check-input"
                                type="checkbox"
                                checked>
                        <div class="p-0">
                            NSFW?
                        </div>
                    </div>

                    <div class="form-group">
                        <tag-input [editable]='true' [maxItems]='5' theme='bootstrap'
                                   formControlName="Tags"></tag-input>
                    </div>

                    <div class="form-group">
                        <input
                                formControlName="url"
                                placeholder="url"
                                class="form-control"
                                type="text">
                    </div>

                    <button class="btn" [disabled]="!addLinkForm.valid">
                        Submit
                    </button>

                </form>

                <!-- <==========================================================================================> -->

                <div class="p-0" style="color: green;" *ngIf="!(formState!=='success')">
                    Success
                </div>

            </div>
        </div>
    </div>
</div>