<div class="container-fluid">

  <div class="p-0">{{domain?.Name }}</div>
  <div class="p-0">{{domain?.Title }}</div>
    <div class="p-0">{{domain?.Topic }}</div>
      <div class="p-0">{{domain?.Description }}</div>
        <div class="p-0">{{domain?.Colour }}</div>
          <div class="p-0">{{domain?.Content }}</div>
            <div class="p-0">{{domain?.Icon }}</div>
              <div class="p-0">{{domain?.Links }}</div>
                <div class="p-0">{{domain?.Subscribers }}</div>

  <app-post *ngFor="let post of posts" [post]="post"></app-post>


  <!--<div class="row">
    <div class="col-1" style="background-color: red; height: 100px "></div>
    <div class="col-1" style="background-color: blue; height: 100px "></div>
    <div class="col-1" style="background-color: green; height: 100px "></div>
    <div class="col-1" style="background-color: red; height: 100px "></div>
    <div class="col-1" style="background-color: blue; height: 100px "></div>
    <div class="col-1" style="background-color: green; height: 100px "></div>
    <div class="col-1" style="background-color: red; height: 100px "></div>
    <div class="col-1" style="background-color: blue; height: 100px "></div>
    <div class="col-1" style="background-color: green; height: 100px "></div>
    <div class="col-1" style="background-color: red; height: 100px "></div>
    <div class="col-1" style="background-color: blue; height: 100px "></div>
    <div class="col-1" style="background-color: green; height: 100px "></div>
  </div>-->
</div>
