$colour-dark: rgb(51, 51, 51);
$colour-light: rgb(252, 252, 252);

body{
  line-height: 0.5;
}
.dark {
  background-color: $colour-dark ;
  height: 100%;
}
.light {
  background-color: $colour-light;
  height: 100%;
}
