<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" [ngClass]="globals.isDark ? 'dark' : 'light'">
    <div class="p-0 h3">
        {{domain?.Title}}
    </div>
    <div class="p-0">
        Subscribers -> {{domain?.Subscribers}}
    </div>
    <a href="#" class="p-0">
        <span class="badge badge-pill">
            subscribe
        </span>
    </a>
    <div class="p-0 sub-text">
        Content -> {{domain?.Content}}
    </div>
    <div class="p-0">
        Description -> {{domain?.Description}}
    </div>
    <img src={{domain?.Icon}} style="width: 100px"/>
    <div class="p-0">
        {{domain?.Topic}}
    </div>
</div>