    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" [ngClass]="globals.isDark ? 'dark' : 'light'">
    <div class="card mb-3" [ngClass]="globals.isDark ? 'text-white card-my-dark' : 'card-my-light'">
        <div class="card-header">User</div>
        <div class="card-body">
            <div class="p-0">
                <!--{{user | json}}-->
                <img src={{user?.Icon}} width="30px" class="img-fluid">
                {{user?.DisplayName}}
            </div>
            <div class="p-0">
                Currency > {{user?.Currency}}
            </div>
            <div class="p-0">
                numPosts > {{user?.numPosts}}
            </div>
            <div class="p-0">
                Score > {{user?.Score}}
            </div>
            <div class="p-0">
                {{user?.isDev}}
            </div>
            <div class="p-0">
                {{user?.url}}
            </div>
        </div>
    </div>

    <div class="card mb-3" *ngIf="!isHome" [ngClass]="globals.isDark ? 'text-white card-my-dark' : 'card-my-light'">
        <div class="card-header">Domain</div>
        <div class="card-body">
            <div class="p-0 h3">
                {{domain?.Title}}
            </div>
            <div class="p-0">
                Subscribers > {{domain?.Subscribers}}
            </div>
            <a (click)="subscribeDomain()" class="p-0">
        <span class="badge badge-pill">
            subscribe
        </span>
            </a>
            <div class="p-0">
                Topic > {{domain?.Topic}}
            </div>
            <div class="p-0">
                Content > {{domain?.Content}}
            </div>
            <div class="p-0">
                Description > {{domain?.Description}}
            </div>
            <img src={{domain?.Icon}} style="width: 100px"/>
        </div>
    </div>
</div>