
<div class="container-fluid">

  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="../../assets/logo.svg" width="30" height="30" alt="">
      <a class="navbar-brand" href="#">
        Home
      </a>
    </a>
  </nav>

  <div *ngFor="let post of posts" class="row whole-post">
    <div class="col-1 rank align-self-center">
      <img src="../../assets/upVote.svg"
           class="img voteBtn mx-auto d-block span3"
           (click)="updateRank(post,true)">
      <h3 class="text-center span3">{{ post.Rank }}</h3>
      <img src="../../assets/downVote.svg"
           class="img voteBtn mx-auto d-block span3"
           (click)="updateRank(post,false)">
    </div>
    <div class="col-11 post">
      <p class="h4 postTitle"><a routerLink="/post/{{post._id}}">{{ post.postTitle }}</a></p>
      <p><em>Uploaded to: {{ post.Domain }}</em><br>
      {{ post.Summary }}<br>
      {{ post.Author }}</p>
    </div>
  </div>

  <div class="row">
    <div class="col-1" style="background-color: red; height: 100px "></div>
    <div class="col-1" style="background-color: blue; height: 100px "></div>
    <div class="col-1" style="background-color: green; height: 100px "></div>
    <div class="col-1" style="background-color: red; height: 100px "></div>
    <div class="col-1" style="background-color: blue; height: 100px "></div>
    <div class="col-1" style="background-color: green; height: 100px "></div>
    <div class="col-1" style="background-color: red; height: 100px "></div>
    <div class="col-1" style="background-color: blue; height: 100px "></div>
    <div class="col-1" style="background-color: green; height: 100px "></div>
    <div class="col-1" style="background-color: red; height: 100px "></div>
    <div class="col-1" style="background-color: blue; height: 100px "></div>
    <div class="col-1" style="background-color: green; height: 100px "></div>
  </div>
</div>

