.post {
  background-color: lightgreen;
  border: solid black;
  overflow-wrap:break-word;
}
.rank {
  border: solid red;
}
.voteBtn {
  width: 20px ;
  height: 20px  ;
}
.voteBtn-Up:Hover {
  fill: #00FF7F;
}
.voteBtn-Down:Hover {
  fill: #FF0000;
}
