<div *ngIf="selectedPost">
  <p>id : {{ selectedPost._id }}<br>
  Author : {{ selectedPost.Author }}<br>
  Domain : {{ selectedPost.Domain }}<br>
  Title : {{ selectedPost.postTitle }}<br>
  Body : {{ selectedPost.postBody }}<br>
  Rank : {{ selectedPost.Rank }}<br>
  Summary : {{ selectedPost.Summary }}<br>
  Visible? : {{ selectedPost.Visible }}<br>
  Comments : {{ selectedPost.Comments | json }}<br>
  <button (click)="goBack()">Back</button>
    <button (click)="removePost(selectedPost)">Remove</button>
  <hr>
</div>
