@import "../../../node_modules/bootstrap/scss/bootstrap";

.rank{
  font-size: 1em;
}
.post {
  background-color: lightgreen;
  border: solid black;
  overflow-wrap:break-word;
}
.rank-block {
  border: solid red;
}
.img-block {
  border: solid blue;
}
.post-img {
  border: solid deeppink;
}
.voteBtn {
  width: 20px ;
  height: 20px  ;
}
.voteBtn-Up:Hover {
  fill: #00FF7F;
}
.voteBtn-Down:Hover {
  fill: #FF0000;
}
.post-row {
  margin-bottom: 10px;
  max-height: 200px;
}

@include media-breakpoint-up(sm) {
  .rank {
    font-size: 0.8rem;
  }
}

@include media-breakpoint-up(md) {
  .rank {
    font-size: 1rem;
  }
}

@include media-breakpoint-up(lg) {
  .rank {
    font-size: 1.6rem;
  }
}
