<div *ngIf="selectedPost">
<div [ngClass]="globals.isDark ? 'dark' : 'light'">
    <div [ngClass]="globals.isFluid ? 'container-fluid' : 'container'">
        <app-nav></app-nav>
    </div>

    <button class="btn" (click)="getDomain(selectedPost.Domain)">
        click
    </button>

    <div style="height: 20px"></div>

    <div [ngClass]="globals.isFluid ? 'container-fluid' : 'container'">
        <div class="row no-gutters post-row">
            <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 rank-block">
                <div class="v-align">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         width="8"
                         height="8"
                         viewBox="0 0 8 8"
                         class="voteBtn voteBtn-Up"
                         (click)="updateRank(selectedPost,true)">>
                        <path d="M4 0l-4 4h8l-4-4z" transform="translate(0 2)"/>
                    </svg>
                    <div class="rank" [ngStyle]="{'color': voteStatus} ">{{ selectedPost.Rank }}</div>
                    <svg xmlns="http://www.w3.org/2000/svg"
                         width="8"
                         height="8"
                         viewBox="0 0 8 8"
                         class="voteBtn voteBtn-Down"
                         (click)="updateRank(selectedPost,false)">
                        <path d="M0 0l4 4 4-4h-8z" transform="translate(0 2)"/>
                    </svg>
                </div>
            </div>
            <div class="col-11 col-sm-11 col-md-11 col-lg-11 col-xl-11">
                <div class="p-0">
                    <a class="postTitle" routerLink="/post/{{selectedPost._id}}">
                        {{ selectedPost.postTitle }}
                    </a>
                </div>
                <div class="p-0 sub-text">
                    <em>
                        Uploaded to ->
                        <a routerLink="/d/{{selectedPost.Domain}}" [ngStyle]="{'color': domain?.Colour}">
                            {{ selectedPost.Domain }}
                        </a>
                        <img src={{domain?.Icon}} width="20px" height="20px">
                    </em>
                    -> {{ selectedPost.createdOn | date }}
                    Type -> {{ selectedPost.ContentType.Name }}
                    By -> {{selectedPost.Author }}
                </div>
                <div class="btn-block d-inline">
                    <a href="#" class="p-0"><span class="badge badge-pill">comments</span> </a>
                    <a href="#" class="p-0"><span class="badge badge-pill">share</span> </a>
                    <a href="#" class="p-0"><span class="badge badge-pill">crosspost</span> </a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="btn-group" role="group">
                    <button (click)="goBack()" class="btn">Back</button>
                    <button (click)="removePost(selectedPost)" class="btn">Remove</button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3"></div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <div class="big-img-block align-content-center">
                    <img src={{selectedPost.url}}
                         *ngIf="!(selectedPost.ContentType.Name!=='image')"
                         class="big-img mx-auto d-block"/>
                </div>
            </div>
            <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3"></div>
        </div>
    </div>

    <div style="height: 20px"></div>

    <button class="btn" (click)="addComment()">
        new comment
    </button>

    <div *ngIf="add">
        <app-add-comment [comment]="selectedPost.Comments"></app-add-comment>
    </div>

    <div [ngClass]="globals.isFluid ? 'container-fluid' : 'container'" *ngIf="selectedPost.Comments">
        <app-comment *ngFor="let comment of selectedPost.Comments" [comment]="comment" [post]="selectedPost"></app-comment>
    </div>
</div>
</div>