<div [ngClass]="globals.isDark ? 'dark' : 'light'">
    <div [ngClass]="globals.isFluid ? 'container-fluid' : 'container'">
        <nav class="navbar navbar-expand-lg " [ngClass]="globals.isDark ? 'dark navbar-dark' : 'light navbar-light'">
            <a class="navbar-brand" href="/">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 151.49 205" width="30" height="30" class="logo">
                    <title>Asset 9</title>
                    <g id="Layer_2" data-name="Layer 2">
                        <g id="Layer_1-2" data-name="Layer 1">
                            <path d="M151.49,85.43v17.08a5.59,5.59,0,0,0-.23.94,91.14,91.14,0,0,1-6.19,27.22c-7.55,19.21-18.59,36.32-31.78,52.1a77.73,77.73,0,0,1-19.88,17.5c-9.82,5.83-19.87,6.21-30.19,1.46-8-3.68-14.54-9.27-20.38-15.69-12.65-13.9-22.85-29.53-31.79-46A94.39,94.39,0,0,1,1.29,113.6C-.23,106-.17,98.43.27,90.78A156.36,156.36,0,0,1,7.42,51c3.11-9.48,7.18-18.49,13.49-26.3C31.83,11.2,46.38,4.12,63.18,1.16,66,.66,68.9.38,71.76,0h9.11a8,8,0,0,0,.8.23c4,.6,8,1,11.94,1.82C120.38,7.86,137.72,24.21,146.4,50c2.95,8.72,3.94,17.84,4.53,27C151.12,79.77,151.3,82.6,151.49,85.43ZM68,159c-3.15-16-10.42-29.17-23.52-38.77C34.57,113,23.28,109,11.12,106.85c2.15,15.67,7.73,29.31,20.15,39.35C41.93,154.8,54.36,158.51,68,159Zm15.68-.29c1-.16,1.69-.28,2.39-.38l2.25-.33c13.56-2,25.35-7.59,34.91-17.55a71.62,71.62,0,0,0,15.13-24.68c1.06-2.82,2-5.69,3-8.72-14.58.54-27.78,4.09-38.7,13.79C91.41,130.88,85.84,143.83,83.71,158.74Z"/>
                        </g>
                    </g>
                </svg>
                NotReddit
            </a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/home">Home<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/d/all">all</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/domains">Domains</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/add">Add</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/start">Start</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">User</a>
                    </li>
                </ul>
                <ul class="ml-auto navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" (click)="changeContainer()">
                            Fluid
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="changeMode()">
                            Dark mode
                        </a>
                    </li>
                </ul>

            </div>
        </nav>
    </div>

    <div style="height: 20px"></div>

    <div [ngClass]="globals.isFluid ? 'container-fluid' : 'container'">
        <div *ngIf="selectedPost">

            <div class="row no-gutters post-row">
                <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 rank-block">
                    <div class="v-align">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             width="8"
                             height="8"
                             viewBox="0 0 8 8"
                             class="voteBtn voteBtn-Up"
                             (click)="updateRank(selectedPost,true)">>
                            <path d="M4 0l-4 4h8l-4-4z" transform="translate(0 2)"/>
                        </svg>
                        <div class="rank" [ngStyle]="{'color': voteStatus} ">{{ selectedPost.Rank }}</div>
                        <svg xmlns="http://www.w3.org/2000/svg"
                             width="8"
                             height="8"
                             viewBox="0 0 8 8"
                             class="voteBtn voteBtn-Down"
                             (click)="updateRank(selectedPost,false)">
                            <path d="M0 0l4 4 4-4h-8z" transform="translate(0 2)"/>
                        </svg>
                    </div>
                </div>
                <div class="col-11 col-sm-11 col-md-11 col-lg-11 col-xl-11">
                    <div class="p-0">
                        <a class="postTitle" routerLink="/post/{{selectedPost._id}}">
                            {{ selectedPost.postTitle }}
                        </a>
                    </div>
                    <div class="p-0 sub-text">
                        <em>
                            Uploaded to ->
                            <a routerLink="/d/{{selectedPost.Domain}}" [ngStyle]="{'color': domain?.Colour}">
                                {{ domain?.Name }}
                            </a>
                            <img src={{domain?.Icon}} width="20px" height="20px">
                        </em>
                        -> {{ selectedPost.createdOn | date }} Type -> {{ selectedPost.Content }} By -> {{ selectedPost.Author }}
                    </div>
                    <div class="btn-block d-inline">
                        <a href="#" class="p-0"><span class="badge badge-pill">comments</span> </a>
                        <a href="#" class="p-0"><span class="badge badge-pill">share</span> </a>
                        <a href="#" class="p-0"><span class="badge badge-pill">crosspost</span> </a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="btn-group" role="group">
                        <button (click)="goBack()" class="btn">Back</button>
                        <button (click)="removePost(selectedPost)" class="btn">Remove</button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3"></div>
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <div class="big-img-block align-content-center">
                        <img src={{selectedPost.url}}
                             *ngIf="!(selectedPost.Content!=='image')"
                             class="big-img mx-auto d-block"/>
                        <!--<img src={{selectedPost.url}}
                             *ngIf="!(selectedPost.Content!=='imgurGif')"
                             class="big-img mx-auto d-block"/>-->
                        <a href={{selectedPost.url}} *ngIf="!(selectedPost.Content!=='imgurGif')">
                            Imgur link
                        </a>
                    </div>
                </div>
                <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3"></div>
            </div>
        </div>
    </div>
</div>
